body {
    background-color: #00afbc;
    color: #ffffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: #008899;
    border-style: none;
    color: #ffffff;
}
input {
    height: 18px;
}
